.demo-block
  .demo-block-control.is-fixed
    position: initial !important;
    bottom: 0 !important;
    width: 100% !important;
  table
    margin: 0;
  tr
    border-top: none;
  tr:nth-child(2n)
    background-color: transparent;
  th, td
    border: 0;